<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title>Components</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <app-pickup-call-card status="hold" updateAt="25/04/2022 16:29" createdAt="29/04/2021" notes="Notes:we have two bags that are full, one with plastic and the other with glasses"></app-pickup-call-card>
  <app-pickup-call-card status="processing" updateAt="29/04/2021 21:00" createdAt="25/04/2022" notes="we have two bags that are full"></app-pickup-call-card>

  <app-pickup-call-card status="finished" updateAt="25/04/2022 16:29" createdAt="29/04/2021" value="$ 17,00"></app-pickup-call-card>
</ion-content> -->

<ion-content>
  <!-- <app-radar-search 
    [isSearching]=true 
    personName="Pərviz" 
    personPhoto="assets/img/person-min.jpg"
    personPhoto1="assets/img/person-min.jpg"
    personPhoto2="assets/img/person-min.jpg"
    personPhoto3="assets/img/person-min.jpg"
    personPhoto4="assets/img/person-min.jpg"
    personPhoto5="assets/img/person-min.jpg"
  ></app-radar-search> -->
</ion-content>